<% layout('layouts/boilerplate') -%>
<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>
<p>
  <a href="/campgrounds/<%= campground._id %>/edit">編集する</a>
</p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
  <button>削除する</button>
</form>
<footer>
  <p><a href="/campgrounds">一覧へ戻る</a></p>
</footer>
